@model SistemaTaller.Models.Servicio

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreServicio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdServicio }) <i class="fa fa-edit" style="font-size: 17px; color: forestgreen"></i>
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-outline-primary btn-sm" })
</p>
