@model SistemaTaller.Models.Cotizacion

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Cotización</title>

</head>
<body>
    <div class="container">
    </div>
    <h2 align="center">
        <img src="~/Imagenes/Logo.png" />
    </h2>
    <h2 align="center">TALLER DOUGLAS ROJAS</h2>
    <h3 align="center">Cedula Fisica 1-09250-108</h3>
    <h4 align="center"> www.tallerdouglasrojas.com </h4>
    <h3 align="right">Cotizacion N°</h3>
    <h3 align="right">@Html.DisplayFor(model => model.CodCotizacion) </h3>
    <h3 align="right">@Html.DisplayFor(model => model.Fecha)</h3>


    <h4>Cliente</h4>
    <h4>@Html.DisplayFor(model => model.NombreClien)</h4>
    <h4>@Html.DisplayFor(model => model.Cedula)</h4>
    <h4>@Html.DisplayFor(model => model.Email)</h4>
    <h4>@Html.DisplayFor(model => model.TelefClien)</h4>
    <h4 align="center">Placa N°  @Html.DisplayFor(model => model.NPlaca) </h4>
    <hr />

    <h4>Servicio: @Html.DisplayFor(model => model.NServicio)</h4>

    <h4> Detalle: @Html.DisplayFor(model => model.Detalle)</h4>

    <hr />
    <h4 align="right">Monto @Html.DisplayFor(model => model.Monto)</h4>
    <h4 align="right">Descuento @Html.DisplayFor(model => model.Descuento)</h4>
    <h4 align="right">Sub-Total @Html.DisplayFor(model => model.SubTotal)</h4>
    <h4 align="right"> 13% IVA @Html.DisplayFor(model => model.IVA)</h4>
    <h4 align="right"> Total @Html.DisplayFor(model => model.Total)</h4>


    <h4>Dias de Vigencia: @Html.DisplayFor(model => model.Vigencia)</h4>
    <h4>Por: @Html.DisplayFor(model => model.NEmpleado)</h4>
    <hr />
    <div class="btn-left footer">
        <button id="print" class="btn btn-outline-primary btn-sm"><i class='fas fa-print' style='font-size:24px'></i></button>
    </div>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/printThis.js"></script>
    <script>
        $('#print').click(function(){
            $('.container').printThis();
        })
    </script>
</body>
</html>