@model SistemaTaller.Models.Cotizacion

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Cotización</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodCotizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodCotizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NPlaca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NPlaca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreClien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreClien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefClien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefClien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NEmpleado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCotizacion }) <i class="fa fa-edit" style="font-size: 17px; color: forestgreen"></i> 
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-outline-primary btn-sm" })
</p>
